<h1 id="header"><%= @dish.name %></h1>

<section id="dish_info">
  <h2>Dish Details</h2>
  <p>Description: <%= @dish.description %></p>
  <p>Total Calories: <%= @dish.total_calories %></p>
</section>  